@font-face {
    font-family: 'cera_proregular';
    src: url('../fonts/cerapro-regular-webfont.eot');
    src: url('../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-regular-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-regular-webfont.woff') format('woff'),
    url('../fonts/cerapro-regular-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_promedium';
    src: url('../fonts/cerapro-medium-webfont.eot');
    src: url('../fonts/cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-medium-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-medium-webfont.woff') format('woff'),
    url('../fonts/cerapro-medium-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-medium-webfont.svg#cera_promedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_probold';
    src: url('../fonts/cerapro-bold_1-webfont.eot');
    src: url('../fonts/cerapro-bold_1-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-bold_1-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-bold_1-webfont.woff') format('woff'),
    url('../fonts/cerapro-bold_1-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-bold_1-webfont.svg#cera_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_problack';
    src: url('../fonts/cerapro-black-webfont.eot');
    src: url('../fonts/cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-black-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-black-webfont.woff') format('woff'),
    url('../fonts/cerapro-black-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-black-webfont.svg#cera_problack') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.conteiner{
    max-width: 500px;
    margin: auto;
    border: solid 2px black;
    padding: 52px 100px 50px;
}
#box_model{
    text-align: center;
    margin-bottom:  40px;
    font-family: 'cera_promedium';
}
span:first-of-type{
    border-right: black solid 1px;
    padding: 12px;
    margin: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
}
span:last-of-type{
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #46a358;
}
.text{
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
    margin-bottom: 14px
}
.mb{
    text-align: center;
    font-family: 'cera_proregular';
    margin-top: 36px;
    margin-bottom: 27px
}
input{
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    font-family: 'cera_proregular';
    padding: 12px 14px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin-bottom: 16px
}
input:nth-child(4){
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    padding: 12px 14px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin-bottom: 41px
}
button{
    background: #46a358;
    border-radius: 5px;
    width: 300px;
    height: 45px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    font-family: 'cera_probold';
    color: #fff;
    padding: 15px 0;
    border: none
}
.conteiner a{
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    font-family: 'cera_promedium';
    text-decoration: none;
    color: #727272;
    padding: 10px 0;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin-bottom:15px;
    display: flex;
    justify-content: center;
    align-items: center
}
.img1{
    margin-right: 9px;
    width: 20px;
    height: 20px;
    viewBox: 0 0 20 20
}
.img2{
    margin-right: 4px;
    width: 20px;
    height: 20px;
    viewBox: 0 0 20 20
}
.container_box{
    max-width: 1200px;
    margin: auto;
}
header{
    padding-top: 31px;
}
header .container_box{
    border-bottom: 0.30px solid #f5f5f5;
    display: flex;
    justify-content: space-between;
}
main{
    margin-top: 14px;
}
header nav, header nav li, header .logo{
    display: inline-block;
}
header ul{
    list-style: none;
}
header nav li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    font-family: 'cera_proregular';
}
header .logo {
    margin-right: 229px;
    width: 150px;
    height: 35px;
    viewBox: 0 0 150 35
}
header .login{
    margin-left: 350px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    height: 35px;
    background: #46a358;
    text-decoration: none;
    text-align: center;
    font-family: 'cera_promedium';
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    padding: 8px 17px;
    display: flex;
    justify-content: center;
    align-items: center

}
header .login:before{
    content: "";
    display: inline-block;
    height: 20px;
    background-image: url("images/logout.svg");
}
header nav li{
    margin-right: 50px;
}
header nav li:last-of-type{
    margin-right: 0
}
header nav li:after {
    height: 3px;
    background-color: transparent;
    width: 100%;
    content: "";
    display: block;
    margin-top: 22px;
    transition: 0.3s;
}
header nav li:hover:after{
    background-color: #46a358;
}
.banner .container_box{
    background: linear-gradient(135deg, #f5f5f5 0%, #f5f5f5 100%);
    min-height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner article{
    max-width: 557px;
    display: inline-block;
    margin-right: 93px;
    margin-left: 43px;
}
.banner h4{
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 7px;
    font-family: 'cera_promedium';
}
.banner h1{
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    font-family: 'cera_problack';
}
.banner span{
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #46a358;
}
.banner p{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
    font-family: 'cera_proregular';
}
.banner a{
    border-radius: 6px;
    height: 40px;
    background: #46a358;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 26px;
    font-family: 'cera_probold';
}
.categories .container_box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 26px;
}
.categories .left_sidebar{
    max-width: 310px;
    background-color: #fbfbfb;
}
.left_sidebar h3{
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin: 13px 199px 7px 18px ;
    font-family: 'cera_probold';
}
.left_sidebar ul{
    margin-bottom: 377px;
    list-style: none;
    margin-left: 30px;
    font-family: 'cera_proregular';
}
.left_sidebar ul li a{
    text-decoration: none;
    font-size: 15px;
    line-height: 267%;
    color: #3d3d3d;
}
.left_sidebar img{
    margin-left: -30px;
}
.categories .right_content{
    max-width: 840px;
}
.categories .right_content .flex_1{
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}
.right_content .flex_1 ul{
    list-style: none;
    display: flex;
    justify-content: space-between;

}
.right_content .flex_1 li a {
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    text-decoration: none;
    margin-right: 40px;
}
.categories .right_content article{
    width: 258px;
    margin-bottom: 70px;
}
.right_content .flex_2{
    display: flex;
    justify-content: space-between;
    max-width: 840px;
    flex-wrap: wrap;
}
.categories .right_content article h5{
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
    margin-top: 20px;
    margin-bottom: 6px;
}
.categories .right_content article p{
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
    font-family: 'cera_probold';
}
.categories .right_content .pagination{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 80px;
}
.categories .right_content .pagination ul{
    display: flex;
    justify-content: space-between;
}
.categories .right_content .pagination ul li{
    list-style: none;
    margin-left: 10px;
}
.pagination a{
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;

}
